@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.gameCard{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow:  5px 5px 5px rgb(37, 37, 37);
    padding: 10px;
    margin: 10px;
    text-align: center;
    height: 150px;
    width: 250px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.neon-pink-text {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    text-shadow: 
        0 0 5px #ff00ff, 
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 40px #ff00ff, 
        0 0 80px #ff00ff;
    text-transform: uppercase;
}

.neon-blue-text {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    text-shadow: 
        0 0 5px #00aaff, 
        0 0 10px #00aaff, 
        0 0 20px #00aaff, 
        0 0 40px #00aaff, 
        0 0 80px #00aaff;
    text-transform: uppercase;
}